* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans Extrabold", sans-serif;
    color: #333;
    height: 100vh;
    background-image: linear-gradient(rgb(123, 123, 246), lightblue);
}

.top-pad {
    margin-top: 30px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-style: italic;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

.etch-a-sketch {
    padding: 20px 30px 20px 30px;
    width: 900px;
    margin: 0 auto;
    background-image: radial-gradient(rgb(255, 53, 53), rgb(178, 21, 21));
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 10px solid red;
}

.container {
    display: flex;
    justify-content: center;
}

.control-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100px;
    margin-right: 20px;
    border: 10px solid rgb(168, 18, 18);
    background-color: lightgray;
    background-image: radial-gradient(azure, lightgray);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.draw-section {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    background-color:aliceblue;
    border: 10px solid rgb(168, 18, 18);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 11px;
}

.reset-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: x-large;
    border-radius: 11px;
    border: 3px solid grey;
    margin: 0 3px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
    transition: 1s;
    color: azure;
}

.slider-container {
    border: 3px solid grey;
    padding: 10px;
    border-radius: 11px;
    text-align: center;
    background-color: azure;
}

.pen-container {
    border: 3px solid grey;
    padding: 10px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: azure;
}

#pen-color:hover {
    cursor: pointer;
}

.eraser-btn.active {
    background-color: grey;
    color: azure;
}

.draw-section {
    cursor: crosshair;
}

.draw-section.eraser-mode {
    cursor: url("eraser-icon.png"), auto;
}